.llb-chart-container {
    width: 80vw;
    margin: 5% auto;
}

.llb-chart-row1 {
    height: 100%;
}

.chart1 {
    height: 50vh !important;
    width: auto !important;
    max-width: 40vw !important;
}
