{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="leftPart-landingPage">
    <h1 class="llb-titleLandingPage">La Ligne Bleue</h1>
    <h2 class="llb-subtitleLandingPage">Contre l’exclusion numérique</h2>
</section>

    <section class="llb-card-crossPage">
        <div class="llb-cardConnect">
            <h5 class="llb-h5-cardConnect">J'ai déja un compte</h5>
            <button class="llb-button-yellow">Je me connecte</button>
        </div>
        <div class="llb-cardConnect">
            <h5 class="llb-h5-cardConnect">Je souhaite créer un compte</h5>
            <button class="llb-button-yellow">Je m'inscris</button>
        </div>
        <div class="llb-cardConnect">
            <h5 class="llb-h5-cardConnect">Je ne souhaite pas créer de compte</h5>
            <button class="llb-button-yellow">Je découvre</button>
        </div>
    </section>
{% endblock %}
