{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="landingPage">

        <section class="leftPart-landingPage">
            <h1 class="llb-titleLandingPage">La Ligne Bleue</h1>
            <h2 class="llb-subtitleLandingPage">Contre l’exclusion numérique</h2>
            <p class="llb-teaserText">Apprenez facilement grâce à notre plate-forme de cours en ligne sur le numérique.</p>
            <a href="cross.html.twig">
            <button class="llb-button-blue">Clique Ici</button>
            </a>
        </section>

        <section class="rightPart-landingPage">
            <div class="llb-blue-oval1"></div>
            <div class="llb-blue-oval2"></div>
            <div class="llb-ovalShapeYellow1"></div>
            <div class="llb-ovalShapeYellow2"></div>
            <img class="img-landingPage" src="{{ asset('build/images/senior-landingPage.jpg') }}">

            <div class="llb-blocVerbsLandingPage1">
                <img class="logo-landingPage" src="{{ asset('build/images/icon-learn.png') }}">
                Découvrir</div>
            <div class="llb-blocVerbsLandingPage2">
                <img class="logo-landingPage" src="{{ asset('build/images/icon-training.png') }}">
                Apprendre
            </div>
            <div class="llb-blocVerbsLandingPage3">
                <img class="logo-landingPage" src="{{ asset('build/images/icon-master.png') }}">
                Maîtriser
            </div>
        </section>

    </div>
{% endblock %}
