<div class="card llb-sequence-card">
	<img src={{ asset(upload_path ~ sequence.picturePath) }} alt={{upload_path ~ sequence.picturePath}}>

	<div>
		<h3>{{ sequence.title }}</h3>
		<p>{{ sequence.content }}</p>
	</div>
</div>
