{% extends 'base.html.twig' %}

{% block title %}Edit Sequence{% endblock %}

{% block body %}
    <h1>Edit Sequence</h1>

    {{ include('sequence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sequence_index') }}">back to list</a>

    {{ include('sequence/_delete_form.html.twig') }}
{% endblock %}
