{% extends 'base.html.twig' %}

{% block title %}New Sequence{% endblock %}

{% block body %}
    <h1>Create new Sequence</h1>

    {{ include('sequence/_form.html.twig') }}

    <a href="{{ path('app_sequence_index') }}">back to list</a>
{% endblock %}
