{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="llb-background-light-blue llb-category-size"></div>
<div class="llb-category-index-container mb-5 mt-4">
<h1 class="text-white">Mot de passe oublié</h1>
    <div>
        <p class="text-white">
            Merci de rentrer votre email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </p>
    </div>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {'attr': {
            'class': 'request-email' },
            'label_attr': {'class': 'text-white'}}) }}

        <button class="llb-button-yellow ">Envoyer l'email</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
