<a class="llb-category-card" href={{ path("app_category_show", {"slug": category.slug} )}}>
	<img src={{ asset(icons_path ~ category.categoryIconPath) }} alt="{{ category.categoryTitle }}">
	<p>{{category.categoryTitle}}</p>
</a>
