{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<div class="llb-category-index-container">
		<div id="llb-category-index-title">
			<h1>Trouvez votre Formation</h1>
			<p>Choisissez une catégorie parmis les suivants :</p>
		</div>

		<div class="llb-category-index-card-container">
			{% for category in categories %}
				{% include "/category/_card.html.twig" %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
