{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<div class="llb-background-light-blue llb-category-size"></div>
	{% include "/modules/_blueContainer.html.twig" %}
{% endblock %}
