{% extends 'base.html.twig' %}

{% block title %}Je choisis une formation{% endblock %}

{% block body %}
	<div class="llb-background-light-blue llb-50-size"></div>
	{% include "/modules/_blueContainer.html.twig" %}
{% endblock %}
