{% extends 'base.html.twig' %}

{% block title %}{{ category.categoryTitle }}
{% endblock %}

{% block body %}
    <div class="llb-background-light-blue llb-50-size"></div>
{% include "/modules/_blueContainer.html.twig" %}
{% endblock %}
