{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
    <div class="llb-background-light-blue llb-category-size"></div>
    {% include "/category/_blue.container.html.twig" %}
{% endblock %}
