.llb-welcome-userPage{
    width:80vw;
    height:25vw;
    margin: 5% auto 5% auto;
    background-image: url("../../images/welcome-user.jpeg");
    background-size:100%;
    background-repeat: no-repeat;
    padding-left: 2.5vw;
    display: flex;
    flex-direction: row;
    border-radius:16px;
}

.llb-leftPart-userPage{
    display:flex;
    flex-direction:column;
}
.llb-welcomeText-userPage{
    width: 40vw;
    color:$llb-blue;
    margin-bottom: 5%;
    text-align: justify;
}
.llb-welcome-title{
    font-size:xxx-large;
    font-family: 'Slicker', sans-serif;
    color:$llb-blue;
    width:50vw;
    margin-top:5%
}
.avatar-userPage{
    width:20vw;
    height:20vw;
    margin-left:25%;
}
.llb-leftPart-userPage .llb-button-blue{
    width:40vw;
}
.llb-button-white-UP{
    background-color: white;
    color: $llb-blue;
    height: 3vw;
    width: 10vw;
    border-radius: 6px;
    border-color:$llb-blue;
    margin-left:5%;
    margin-top:5%;
}
.llb-avatarOfUser{
    width:20vw;
    height:20vw;
    margin-left:10%;
    margin-top:2%;
}
.llb-buttonEdit-Tuto .llb-button-blue{
    margin-top:2%;
    margin-bottom:2%;
}
/*       BLUE STRIP                      */
.llb-background-light-blue-userPage {
    background-color: $llb-light-blue;
    position: absolute;
    top: 50%;
    width: 100%;
    bottom: 50%;
    z-index: -50;
}

/*      Thirds cards             */

.llb-cards-userPage{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    margin: 5% auto 5% auto;
}

.llb-card-userPage{
    width:25vw;
    height:40vh;
    background: #FFFFFF;
    border: 1px solid #FFCB05;
    box-shadow: 0 4px 12px rgba(16, 59, 25, 0.0798517);
    border-radius: 16px;
}
.llb-img-cardsUserPage{
    height: 10vw;
}
.llb-title-cards3-userPage{
    font-size:1.12rem;
}
.llb-card-userPage, .llb-cardConnect {
    position: relative;
}

.llb-cards-userPage button {
    margin-top: 5%;
}

.llb-img-container{
    position: absolute;
    bottom: 0;
    right: 0;
}
/*          Edit profil                            */

.llb-button-edit-profil{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:center;
    align-items:center;
}
/*             Blue container           */
.llb-blue-container-userShow {
    color: white;
    background-color: $llb-blue;
    width: 80vw;
    margin: 20px auto 0 auto;
    padding: 5%;
    border-radius: 16px;
}
.llb-tutoCardIsStarted{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.llb-title-tutoIsStarted{
    margin-bottom:5%;
    font-family: 'Baloo 2';
}

/*     Choices of avatar                     */
.llb-titleEditAvatar{
    text-align: center;
    color:$llb-blue;
    margin-top:5%;
    font-family: 'Slicker', sans-serif;;
}
.llb-avatar-userPage {
    background-color: $llb-blue;
    margin: 5%;
    padding:3% 0;
    border-radius: 16px;
    display:flex;
    flex-direction:column;
}

.llb-avatar-userPage fieldset{
    display:none !important;
}
.card-body .llb-button-blue{
    margin-top:10%;
}


/*      Media Query        */

@media screen and (max-width: 1150px) {
    .llb-button-white-UP {
        font-size:10px;
    }
    .llb-buttonEdit-Tuto{
        display:flex;
        flex-direction:row;
        align-items: center;
    }
    .llb-buttonEdit-Tuto .llb-button-blue{
        max-width:20vw;
        max-height: 10vw;
    }
    .llb-buttonEdit-Tuto a{
        margin-right: 5%;
    }
    a .llb-button-blue{
        font-size:12px;
    }
}
@media screen and (max-width: 900px) {
    .llb-button-white-UP {
        font-size:10px;
    }
    .llb-welcome-title{
        font-size:x-large;
    }
    .llb-welcomeText-userPage{
        font-size:12px;
    }
    .llb-cardConnect .llb-button-yellow{
        width: 20vw;
        height:15%;
    }
    .llb-cardConnect a .llb-button-yellow{
        font-size:14px;
    }
    .llb-title-cards3-userPage{
        font-size:16px;
    }
}
@media screen and (max-width: 780px) {
    .llb-tuto-userPage{
        display:none;
    }
    .llb-display-small {
        display: flex;
    }
    .phone-slider-container{
        display:block;
    }
    .llb-liked-card {
        width: 90%;
        margin: 5% auto;
        padding: 2%;
    }
}

@media screen and (max-width: 480px) {
    .llb-welcome-userPage {
        height: 55vh;
        background-size: 150%;
        margin-right: 0;
        margin-bottom: -15%;
    }
    .llb-welcomeText-userPage {
        font-size: 12px;
    }
    .llb-welcome-title {
        font-size: x-large;
    }
    .llb-buttonEdit-Tuto {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .llb-buttonEdit-Tuto .llb-button-blue {
        max-width: 40vw;
    }
    .avatar-userPage {
        width: 40vw;
        height: 40vw;
        margin-left: 0;
        margin-right: 30%;
        margin-top: 10%;
    }
    .llb-leftPart-userPage .llb-button-blue {
        margin-top: 15%;
    }
    .llb-cards-userPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .llb-cardConnect {
        height: 40vw;
        width: 80vw;
    }
    .llb-cardConnect .llb-button-yellow {
        position: relative;
        width: 40vw;
        height: 10vw;
        font-size: 12px;
    }

    .llb-tutorial-index-card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .llb-avatarOfUser {
        width: 45vw;
        height: 55vw;
        margin-left: -5%;
    }
    .llb-leftPart-userPage .llb-button-blue {
        width: 40vw;
        margin-top: -2%;
        height: 10%;
        font-size: 10px;
    }
    .llb-cards-userPage {
        margin-top: -25%;
    }
    .card-body .llb-button-blue {
        margin-top: -3%;
        height: 10vw;
    }
    .llb-img-cardsUserPage{
        height: 10vh;
    }

    }
@media screen and (max-width: 400px) {
    .llb-welcome-userPage {
        height: 60vh;
        background-size: 170%;
    }
}

