<div class="card">
	<img class="card-img-top" src={{ asset("build/images/Fixtures/Pictures/TestPicture.webp")}} alt="">
	<div class="card-body">
		<h5 class="card-title">{{tutorial.title}}</h5>
		<p class="card-text">{{ tutorial.objective }}</p>
		<a href="#" class="btn btn-primary">Je me lance!</a>
	</div>
</div>
