{% extends 'base.html.twig' %}

{% block title %}Tutorial index
{% endblock %}

{% block body %}
	<div class="llb-background-light-blue llb-theme-size"></div>
	<div class="llb-tutorial-index-container mb-5 mt-4">
		<div id="llb-tutorial-index-title">
			<h1>Index des Formations</h1>
			<p>Choisissez une formation:</p>
		</div>

		<div class="llb-tutorial-index-card-container">
			{% for tutorial in tutorials %}
				{% include "/tutorial/_card.html.twig" %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
