{% extends 'base.html.twig' %}

{% block title %}Tutorial index
{% endblock %}

{% block body %}
	<div class="llb-background-light-blue llb-theme-size"></div>
	{% include "/modules/_blueContainer.html.twig" %}
</div>{% endblock %}
