{% extends 'base.html.twig' %}

{% block title %}Tutorial
{% endblock %}

{% block body %}

	<div class="llb-tutorial-show-start-card">
		<div class="llb-tutorial-show-start-card-left-div">
			<h2>{{tutorial.title}}</h2>
			<p>{{ tutorial.objective }}</p>
		</div>

		<img class="llb-tutorial-show-start-card-img" src={{ asset(picture_path ~ tutorial.picturePath) }} alt="{{ tutorial.title }}">
	</div>
{% endblock %}
