{% extends 'base.html.twig' %}

{% block title %}Tutorial
{% endblock %}

{% block body %}

	<div class="llb-tutorial-show">

		<div class="llb-tutorial-show-start-card">
			<div class="llb-tutorial-show-start-card-left-div">
				<h2>{{tutorial.title}}</h2>
				<p>{{ tutorial.objective }}</p>
			</div>

			<img class="llb-tutorial-show-start-card-img" src={{ asset(picturePath ~ tutorial.picturePath) }} alt="{{ tutorial.title }}">
		</div>

		<div class="llb-tutorial-show-sequences-container">
			{% for sequence in tutorial.sequences %}
				{% include "sequence/_card.html.twig" %}
			{% endfor %}
		</div>

		<div class="llb-tutorial-show-end-card">
			<div>
				<h1>Je teste mes connaissances</h1>
				<h5>je sais pas ce que je dois mettre ici</h5>
			</div>
			<button class="llb-button-yellow">Je commence le quiz</button>
		</div>
	</div>
{% endblock %}
