.llb-tutorial-card {
    width: 30%;
    margin: 1% 1% 2.5% 1%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    border: 1px solid #D1E8D8;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(16, 59, 25, 0.0798517);
    position: relative;
}

.llb-bg-sequence {
    border: solid 3px $llb-yellow;
}

.triangle-code{
    position: absolute;
    top: -2.5vw;
    left: -2.5vw;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 7.5vw solid $llb-yellow;
    border-right : 7.5vw solid transparent;
}

.llb-rotate {
    position: absolute;
    top: -5vw;
    left: -2.5vw;
    transform: rotate(-45deg);
    width: 10vw;
    text-align: center;
    color: $llb-dark-blue;
    font-weight: bold;
    margin-bottom: 0;
}

.llb-tutorial-card:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    z-index:3;
}

.llb-tutorial-card-body>h3 {
    font-weight: bolder;
    color: $llb-blue;
}

.llb-tutorial-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.llb-liked-card {
    width: 23%;
    margin: 1%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    border: 1px solid #D1E8D8;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(16, 59, 25, 0.0798517);
    position: relative;
}

.llb-liked-card a {
    margin-left: 1%;
}

.llb-liked-card:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    z-index:3;
}

.llb-tutorial-card-body>.llb-tutorial-card-button {
    width: 100%;
}
