.llb-tutorial-index-container {
    color: white;
    background-color: $llb-blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    padding: 5%;
    border-radius: 16px;
}

#llb-tutorial-index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#llb-tutorial-index-title>h1 {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1px;
}

#llb-tutorial-index-title>p {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
}

.llb-tutorial-index-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .llb-welcome-userPage {
        height:800px;
    }
    .llb-cardConnect{
        display:flex;
        flex-direction:column;
    }
}
