.llb-tutorial-show {
    margin: 5vw;
    margin-top: 0;
    padding: 5vw;
}

.llb-tutorial-show-start-card {
    height: 25vw;
    background-image: url("../../images/welcome-user.jpeg");
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5%;
    border-radius: 6px;
}

.llb-tutorial-show-start-card-tags-container {
    display: flex;
    flex-direction: row;
}

.llb-tutorial-show-start-card-left-div {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.llb-tutorial-show-start-card-left-div>h2 {
    font-size: xxx-large;
    color: $llb-blue;
    // width: 10vw;
    margin-top: 5%
}

.llb-tutorial-show-start-card-left-div>p {
    width: 100%;
    color: $llb-blue;
    margin: 5% 0;
}

.llb-tutorial-show-start-card-img {
    padding: 5%;
}

.llb-tutorial-show-sequences-container {
    display: none;
    opacity: 0;
    margin: 0;
    width: 100%;
    transition-duration: 2s;
}

.llb-show-display {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
}

.llb-show-opacity {
    opacity: 1;
    transition-duration: 2s;
}

.llb-tutorial-show-end-card {
    height: 10vw;
    background-color: $llb-blue;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5%;
    border-radius: 6px;
    width: 100%;
}

.llb-tutorial-show-end-card>a {
    text-decoration: none;
}

.llb-tutorial-show-end-card>div {
    color: white;
}

@media screen and (max-width: 480px) {
    .llb-tutorial-show-start-card {
        height: 20vh;
    }

    .llb-tutorial-show-start-card-left-div>h2 {
        font-size: x-large;
    }

    .llb-tutorial-show-start-card-left-div>p {
        font-size: small;
    }

    .llb-tutorial-show-end-card {
        height: 15vh;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .llb-tutorial-show-end-card>div>h1 {
        font-size: large;
    }

    .llb-tutorial-show-end-card>div>h5 {
        font-size: small;
    }
}
