.llb-tutorial-show {
    margin: 5vw;
    margin-top: 0;
    padding: 5vw;
}

.llb-font-title {
    font-family: 'Slicker', sans-serif;
}

.llb-tutorial-show-start-card {
    height: 25vw;
    background-image: url("../../images/welcome-user.jpeg");
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5%;
    border-radius: 6px;
    padding: 3%;
}

.llb-tutorial-show-start-card-tags-container {
    display: flex;
    flex-direction: row;
}

.llb-tutorial-show-start-card-left-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 55%;
}

.llb-tutorial-show-start-card-left-div>h2 {
    font-size: xxx-large;
    color: $llb-blue;
}

.llb-tutorial-show-start-card-left-div>p {
    width: 100%;
    color: $llb-blue;
}

.llb-tutorial-show-start-card-img {
    border-radius: 6px;
}

.llb-tutorial-show-sequences-container {
    display: none;
    opacity: 0;
    margin: 0;
    width: 100%;
    transition-duration: 2s;
}

.llb-show-display {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
}

.llb-show-opacity {
    opacity: 1;
    transition-duration: 2s;
}

.llb-tutorial-show-end-card {
    height: 10vw;
    background-color: $llb-blue;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5%;
    border-radius: 6px;
    width: 100%;
}

.llb-tutorial-show-end-card>a {
    text-decoration: none;
}

.llb-tutorial-show-end-card>div {
    color: white;
}

.llb-mlr {
    margin-left: 4%;
    margin-right: 4%;
}

@media screen and (max-width: 480px) {
    .llb-tutorial-show-start-card {
        height: 65vh;
        flex-direction: column-reverse;
        justify-content: center;
        color: white;
        background-image: none;
        background-color: $llb-light-blue;
        padding: 0 0 5% 0;
    }

    .llb-tutorial-show-start-card-img {
        max-width: 100%;
        max-height: 50%;
        object-fit: contain;
        margin: 5% 0 0 0
    }

    .llb-tutorial-show-start-card-left-div {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .llb-tutorial-show-start-card-left-div>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .llb-tutorial-show-start-card-left-div>div>h2 {
        margin: 5% 0 5% 0;
    }

    .llb-tutorial-show-start-card-left-div>p {
        font-size: small;
        padding: 3% 10% 0 10%;
        text-align: center;
    }

    .llb-tutorial-show-end-card {
        height: 15vh;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 5%
    }

    .llb-tutorial-show-end-card>div>h1 {
        font-size: medium;
    }

    .llb-tutorial-show-start-card-tags-container {
        width: 100%;
        justify-content: center;
    }
}