.llb-button-blue {
    background-color: $llb-blue;
    color: white;
    padding: 2vh;
    border-radius: 6px;
    border: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.llb-button-yellow {
    background-color: $llb-light-yellow;
    color: $llb-dark-blue;
    border-radius: 6px;
    border: solid 1px $llb-yellow;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left  : 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.llb-button-yellow:hover {
    color: $llb-blue;
    background-color: $llb-yellow;
    border-color: transparent;
}

.llb-button-red {
    background-color: #FF5F4E;
    color: white;
    border-radius: 6px;
    border: solid 1px #FF1501;
    padding-left  : 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.llb-button-red:hover {
    background-color: #FF1501;
}

.llb-button-white {
    background-color: white;
    color: $llb-blue;
    padding: 2vh;
    border-radius: 6px;
    border-color: $llb-blue;
}
