.llb-button-blue {
    background-color: $llb-blue;
    color: white;
    height: 48px;
    width: 186px;
    border-radius: 6px;
    border: white;
}

.llb-button-yellow {
    background-color: $llb-yellow;
    color: $llb-dark-blue;
    height: 48px;
    width: 186px;
    border-radius: 6px;
}

.llb-button-white {
    background-color: white;
    color: $llb-blue;
    height: 48px;
    width: 186px;
    border-radius: 6px;
}
