.llb-title-crossPage{
    color:$llb-blue;
    width: 80vw;
    margin: 5vh auto 5vh auto;
}

.llb-card-crossPage{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5% auto 10% auto;
    width: 80vw;
}
.llb-cardConnect{
    width:24vw;
    height:40vh;
    background: #FFFFFF;
    border: 1px solid #FFCB05;
    box-shadow: 0px 4px 12px rgba(16, 59, 25, 0.0798517);
    border-radius: 16px;
    position: relative;
}

.llb-h5-cardConnect{
    color:$llb-blue;
}

.llb-card-crossPage button {
    position: absolute;
    top: 30%;
}

.llb-img-cardsCrossPage{
    height: 8vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

.llb-button-yellowCross{
    background-color: #FFCB05;
    color: #062F55;
    height: 3vw;
    width: 13vw;
    border-radius: 6px;
    margin-top:30%;
    margin-left:5%;
    padding-top: 0.5vw;
}

/*      MEDIA QUERY     */
@media screen and (max-width: 480px) {
    .llb-card-crossPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }
    .llb-cardConnect {
        width: 100%;
        margin: 5% auto 5% auto;
        height: 40vh;
    }
    .llb-cardConnect .llb-img-cardsCrossPage {
        height: 40%;
        width: 40%;
    }
    .llb-h5-cardConnect {
        width: 80%;
    }
}
