/*CSS LANDING PAGE*/
.llb-body-landingPage{
    overflow: hidden;
}
/*      LEFT PART LANDING PAGE*/
.leftPart-landingPage{
    color:$llb-blue;
    margin: 10% 0 0 5%;
}
.llb-titleLandingPage{
    font-size: xxx-large;
}
.llb-teaserText{
    padding:2% 0;
    max-width:500px;
}
/*      END OF LEFT PART LANDING PAGE*/


/*      RIGHT PART LANDING PAGE*/
.llb-blue-oval1{
    position: absolute;
    width: 122vw;
    height: 122vw;
    left: 46vw;
    top: -60vw;
    border-radius:59vw;
    background: $llb-blue;
}
.llb-blue-oval2{
    position: absolute;
    width: 28vw;
    height: 28vw;
    left: 43vw;
    top: 27vw;
    border-radius:14vw;
    background: $llb-blue;
}

/*      IMAGE LANDING PAGE      */
.rightPart-landingPage .img-landingPage{
    width:28vw;
    height:21vw;
    position:absolute;
    left: 860px;
    top: 180.76px;
    border-radius: 2%;
}
.llb-responsiv-landingPage .img-landingPage{
    border-radius: 40%;
    width:28vw;
    height:21vw;
}
.llb-ovalShapeYellow1{
    position: absolute;
    width: 308.69px;
    height: 550.24px;
    left: 820px;
    top: 100px;
    border: 2px solid #DBAD36;
    border-radius:70%;
    transform: rotate(-15deg);
}
.llb-ovalShapeYellow2{
    position: absolute;
    width: 322.64px;
    height: 418.56px;
    left: 952.87px;
    top: 126px;
    border: 2px solid #DBAD36;
    border-radius:80%;
    transform: rotate(-8deg);
}

.llb-blocVerbsLandingPage1{
    background-color:$llb-grey;
    text-align: center;
    position: absolute;
    width: 130px;
    height: 30px;
    left: 980px;
    top: 145px;
    border-radius: 2%;
}
.llb-blocVerbsLandingPage2{
    background-color:$llb-grey;
    text-align: center;
    position: absolute;
    width: 130px;
    height: 30px;
    left: 1182.73px;
    top: 390.18px;
    border-radius: 2%;
}
.llb-blocVerbsLandingPage3{
    background-color:$llb-grey;
    text-align: center;
    position: absolute;
    width: 130px;
    height: 30px;
    left: 834px;
    top: 440px;
    border-radius: 2%;
}

/*             test             */

.llb-oval3{
    display:none;
}
.llb-oval4{
    display:none;
}
.llb-oval5{
    display:none;
}
.llb-oval6{
    display:none;
}
.img-responsive-landingPage{
    display:none;
}
.top-responsive-landingPage{
    display: none;
}

/*      END OF RIGHT PART LANDING PAGE*/
/*      MEDIA QUERY     */
@media screen and (max-width: 480px) {
    .llb-body-landingPage{
        overflow:visible;
    }

   .llb-blue-oval1{
       display: none;
   }
    .llb-blue-oval2{
        display:none;
    }
    .rightPart-landingPage .img-landingPage{
        display:none;
    }
    .llb-ovalShapeYellow1{
        display:none;
    }
    .llb-ovalShapeYellow2{
        display:none;
    }
    .llb-blocVerbsLandingPage1{
        display:none;
    }
    .llb-blocVerbsLandingPage2{
        display:none;
    }
    .llb-blocVerbsLandingPage3{
        display:none;
    }
    .leftPart-landingPage{
        padding-top: 100%;
    }
    .top-responsive-landingPage{
        display:block;
        background: $llb-blue;
        width:100vw;
        height:50%;
        top:0;
        position:absolute;
    }
    .img-responsive-landingPage{
        display:block;
        top:0;
        position:absolute;
        width:100vw;
    }
    .leftPart-landingPage .llb-button-blue{
        margin-bottom: 5%;
    }
}
