/*CSS LANDING PAGE*/

.llb-homepage-global {
    justify-content: space-between;
    height: 100vh;
}

/*      LEFT PART LANDING PAGE*/
.leftPart-landingPage {
    position: absolute;
    top: 30vh;
    left: 5vw;
}
.leftPart-landingPage h1 {
    font-size: 3rem;
}
.leftPart-landingPage h2 {
    margin: 2vh 0 4vh 0;
}
/*      END OF LEFT PART LANDING PAGE*/

/*      RIGHT PART LANDING PAGE*/
.llb-blue-rect {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36vw;
    height: 100vh;
    background: $llb-blue;
}
.llb-blue-oval1{
    position: absolute;
    right: 0;
    bottom: 30vh;
    width: 50vw;
    height: 50vw;
    border-radius:25vw;
    background: $llb-blue;
}
.llb-blue-oval2{
    position: absolute;
    right: 22vw;
    bottom: 0;
    width: 28vw;
    height: 28vw;
    border-radius:14vw;
    background: $llb-blue;
}
.llb-blue-oval3 {
    position: absolute;
    right: 25vw;
    bottom: 30vh;
    width: 28vw;
    height: 28vw;
    border-radius:14vw;
    background: $llb-blue;
}
.img-landingPage{
    height:21vw;
    border-radius: 2%;
    position: absolute;
    right: 15vw;
    top: 25vh;
}
.llb-ovalShapeYellow1{
    position: absolute;
    width: 17vw;
    height: 65vh;
    right: 22vw;
    top: 17vh;
    border: 2px solid #DBAD36;
    border-radius:70%;
    transform: rotate(-15deg);
}
.llb-ovalShapeYellow2{
    position: absolute;
    width: 18vw;
    height: 55vh;
    right: 12vw;
    top: 15vh;
    border: 2px solid #DBAD36;
    border-radius:70%;
    transform: rotate(-10deg);
}
.llb-blocVerbsLandingPage{
    background-color:white;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2vh;
    border-radius: 6%;
}
.llb-Verbs1{
    position: absolute;
    right: 25vw;
    top: 19vh
}
.llb-Verbs2{
    position: absolute;
    right: 10vw;
    top: 48vh
}
.llb-Verbs3{
    position: absolute;
    right: 30vw;
    top: 60vh
}
.img-landingPage-Responsive {
    display: none;
}
/*      END OF RIGHT PART LANDING PAGE*/

/*      MEDIA QUERY     */
@media screen and (max-width: 480px) {
    .llb-homepage-global {
        flex-direction: column-reverse;
    }
    .leftPart-landingPage {
        position: unset;
        width: 85vw;
        height: 48vh;
        margin: 0 auto 0 auto;
    }
    .rightPart-landingPage {
        height: 52vh;
    }
    .llb-blue-oval1, .llb-blue-oval3 {
        display: none;
    }
    .llb-blue-oval2 {
        top: 32vh;
        left: 0;
        width: 100vw;
        height: 30vw;
        border-radius: 20%;
    }
    .llb-blue-rect {
        top: 0;
        left: 0;
        width: 100vw;
        height: 40vh;
    }
    .img-landingPage{
        display: none;
    }
    .img-landingPage-Responsive {
        display: flex;
        width: 80vw;
        position: absolute;
        top: 7vh;
        left: 10vw;
    }
    .llb-ovalShapeYellow1{
        position: absolute;
        width: 42vw;
        height: 42vh;
        left: 10vw;
        top: 3vh;
        border: 2px solid #DBAD36;
        border-radius:70%;
        transform: rotate(-20deg);
    }
    .llb-ovalShapeYellow2{
        position: absolute;
        width: 50vw;
        height: 40vh;
        right: 7vw;
        top: 5vh;
        border: 2px solid #DBAD36;
        border-radius:70%;
        transform: rotate(15deg);
    }
    .llb-blocVerbsLandingPage{
        padding: 1vh 1.5vh 1vh 1.5vh;
    }
    .llb-Verbs1{
        position: absolute;
        left: 22vw;
        right: unset;
        top: 3vh
    }
    .llb-Verbs2{
        position: absolute;
        right: 3vw;
        top: 37vh
    }
    .llb-Verbs3{
        position: absolute;
        right: unset;
        left: 3vw;
        top: 30vh
    }
    }

