/*CSS LANDING PAGE*/

.llb-homepage-global {
    justify-content: space-between;
    height: 100vh;
}
.llb-background-landingPage{
    display:none;
}
.llb-linear-landingPage{
    display: none;
}
/*      LEFT PART LANDING PAGE*/
.llb-titleLandingPage{
    font-family: 'Slicker', sans-serif;
}
.llb-teaserText{
    width:60%;
    margin-bottom:5%;
}
.leftPart-landingPage {
    position: absolute;
    top: 30vh;
    left: 5vw;
}
.leftPart-landingPage h1 {
    font-size: 3rem;
}
.leftPart-landingPage h2 {
    margin: 2vh 0 4vh 0;
}
/*      END OF LEFT PART LANDING PAGE*/

/*      RIGHT PART LANDING PAGE*/
.llb-blue-rect {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36vw;
    height: 100vh;
    background: $llb-blue;
}
.llb-blue-oval1{
    position: absolute;
    right: 0;
    bottom: 30vh;
    width: 50vw;
    height: 50vw;
    border-radius:25vw;
    background: $llb-blue;
}
.llb-blue-oval2{
    position: absolute;
    right: 22vw;
    bottom: 0;
    width: 28vw;
    height: 28vw;
    border-radius:14vw;
    background: $llb-blue;
}
.llb-blue-oval3 {
    position: absolute;
    right: 25vw;
    bottom: 30vh;
    width: 28vw;
    height: 28vw;
    border-radius:14vw;
    background: $llb-blue;
}
.img-landingPage{
    height:21vw;
    border-radius: 2%;
    position: absolute;
    right: 15vw;
    top: 25vh;
}
.llb-ovalShapeYellow1{
    position: absolute;
    width: 17vw;
    height: 65vh;
    right: 22vw;
    top: 17vh;
    border: 2px solid #DBAD36;
    border-radius:70%;
    transform: rotate(-15deg);
}
.llb-ovalShapeYellow2{
    position: absolute;
    width: 18vw;
    height: 55vh;
    right: 12vw;
    top: 15vh;
    border: 2px solid #DBAD36;
    border-radius:70%;
    transform: rotate(-10deg);
}
.llb-blocVerbsLandingPage{
    background-color:white;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2vh;
    border-radius: 6%;
}
.llb-Verbs1{
    position: absolute;
    right: 25vw;
    top: 19vh
}
.llb-Verbs2{
    position: absolute;
    right: 10vw;
    top: 48vh
}
.llb-Verbs3{
    position: absolute;
    right: 30vw;
    top: 60vh
}
.img-landingPage-Responsive {
    display: none;
}

/*      END OF RIGHT PART LANDING PAGE*/

/*      MEDIA QUERY     */
@media screen and (max-width: 480px) {
    .llb-homepage-global {
        flex-direction: column-reverse;
        justify-content: right;
        height: auto;
    }
    .llb-blue-oval1, .llb-blue-oval3, .llb-blue-oval2 {
        display: none;
    }
    .llb-ovalShapeYellow1, .llb-ovalShapeYellow2 {
        display: none;
    }
    .llb-blocVerbsLandingPage {
        display: none;
    }
    .llb-blue-rect {
        display: none;
    }
    .img-landingPage {
        display: none;
    }
    .leftPart-landingPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -55%;
    }
    .llb-background-landingPage {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(2, 0, 36);
        background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0.50) 90%, rgba(255, 255, 255, 1) 100%);
    }
    .llb-linear-landingPage {
        display: block;
        height: 100vw;
        width: 100vw;
        position: relative;
    }
}

    @media screen and (max-width: 1070px) {
        .llb-subtitleLandingPage {
            font-size: x-large;
        }
    }

@media screen and (max-width: 800px) {
    .llb-titleLandingPage{
        font-size: 18px;
        margin-left:-5%;
    }
    .llb-subtitleLandingPage {
        font-size: 20px;
    }
    .llb-teaserText{
        font-size:12px;
    }
}

