.navbar {
    display: flex;
    flex-direction: row;
    background-color: #0C5395;
    color: white;
    height: 8vh;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

p.llb-brand-name {
    padding: 0px;
}

.llb-navbar-logo {
    display: flex;
    flex-direction: row;
}

.lbb-image-logo {
    height: 6vh;
    width: auto;
    position: relative;
}

.llb-navbar-logo-name {
    display: flex;
    flex-direction: row;
    font-family: "Baloo 2";
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}
    /* LRN

    position: absolute;
    width: 194px;
    left: 78px;
    top: 16px;
    font-style: normal;
    identical to box height, or 160% */


.llb-navbar-searchBar {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.llb-navbar-buttons-signing {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}

.btn-outline-success:hover {
    background-color: #FFCB05;
}

.lbb-navbar-buttons-signing {
    display: flex;
    justify-content: flex-end;
}

input.form-control {
    width: 300px;
}
/* RESPONSIVENESS: breaking point 480px */

@media screen and (max-width: 480px) {
    .navbar-toggler {
        color: green;
    }

    .llb-navbar-searchBar {
        display: none;
    }

    .nav-link{
        border: none;
        padding: 0;
    }

    .navbar {
        background-color: red;
        justify-content: space-between;
    }

    a.nav-link {
        color: #0C5395;
    }

    a.nav-link:hover {
        color: #FFCB05;
    }
    /*
    p.llb-brand-name {
        justify-content: center;
    }*/
}

@media screen and (min-width: 480px) {
    .nav-link{
        border: solid 1px white;
        border-radius: 6px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #0C5395;
        color: white;
    }

    .nav-link:hover {
        background-color: #FFCB05;
        color: #0C5395;
        border-color: #0C5395;
        /*font-weight: 700;*/
    }

    a.nav-link {
        padding: 5px;
    }

    input.form-control {
        padding: 5px;
    }
}

