@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$llb-blue: #0C5395;
$llb-yellow: #FFCB05;
$llb-dark-blue: #062F55;
$llb-light-blue: #D6E3E7;
$llb-light-yellow: #ffe482;
$llb-grey: #edeeed;

* {
    box-sizing: border-box;
    color: $llb-blue;
}

body {
    background-color: white;
}

.llb-align-center {
    margin-left: auto;
    margin-right: auto;
}
