{% extends 'base.html.twig' %}

{% block title %}Search
{% endblock %}

{% block body %}
	{% include "search/filterBar.html.twig" %}
	<div class="llb-tutorial-index-container mb-5 mt-4">
		{% if tutorials is defined and tutorials is not empty  %}
			{% include "modules/_blueContainerSearch.html.twig" %}
		{% else %}
			{% if userInput is defined %}
				<h1>Aucun résultats pour: "{{ userInput }}"</h1>
			{% else %}
				<h1>Utilisez la barre de recherche pour trouver une formation.</h1>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
