:root {
    --body-bg: #f5f5f5;
    --sidebar-bg: #0C5395;
    --sidebar-menu-color: #f5f5f5;
    --sidebar-menu-active-item-color: #181818;
    --button-primary-bg: #FFCB05;
    --button-primary-color: #181818;
    --pagination-active-bg: #FFCB05;
    --user-avatar-icon-color: #0C5395;
    --sidebar-logo-color: #f5f5f5;
    --sidebar-menu-active-item-bg: #FFCB05;
    --dropdown-toggle-color: #0C5395;
    --table-thead-marker-color: #0C5395;
    --sidebar-menu-icon-color: #FFCB05;
    --link-color: #0C5395;
    --form-switch-checked-bg: #0C5395;
    --button-color: #0C5395;
    --text-color: #0C5395;
}

canvas {
    height: 20vw !important;
    width: auto !important;
}

.llb-w-80 {
    width: 80vw;
}
