.llb-under-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.image-card-trio {
    height: 10vw;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.llb-background-light-blue {
    background-color: $llb-light-blue;
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 480px) {
    .image-card-trio {
        height: 15vh;
    }
}
