{# REFACTOR THIS BITCH PLZ #}

<div class="llb-blue-container" style="margin-top:3%">
    {% if app.request.attributes.get('_route') is same as('app_category_index') %}
        <div class="llb-blue-container-title">
            <h1>Trouvez votre formation</h1>
            <p>Choisissez une catégorie parmi les suivantes :</p>
        </div>
        <div class="llb-blue-container-card-container">
            {% for category in categories %}
                {% include "/category/_card.html.twig" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.request.attributes.get('_route') is same as('app_category_show') %}
        <div class="llb-blue-container-title">
            <h1>Catégorie :
                {{ category.categoryTitle }}</h1>
            <p>Choisissez un thème :</p>
        </div>
        <div class="llb-blue-container-card-container">
            {% for theme in category.themes %}
                {% include "/theme/_card.html.twig" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.request.attributes.get('_route') is same as('app_theme_show') %}
        <div class="llb-blue-container-title">
            <h1>Thème :
                {{theme.title}}</h1>
            <p>Choisissez votre formation :</p>
        </div>
        <div class="llb-blue-container-card-container">
            {% for tutorial in theme.tutorials %}
                {% include "tutorial/_card.html.twig" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.request.attributes.get('_route') is same as('app_tutorial_index') %}
        <div class="llb-blue-container-title">
            <h1>Toutes les Formations :</h1>
        </div>
        <div class="llb-blue-container-card-container">
            {% for tutorial in tutorials %}
                {% include "tutorial/_card.html.twig" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.request.attributes.get('_route') is same as('app_search') %}
        <div class="llb-blue-container-card-container">
            {% for tutorial in tutorials %}
                {% include "tutorial/_card.html.twig" %}
            {% endfor %}
        </div>
    {% endif %}

</div>
