<div class="llb-blue-container-search">
    <div id="swup">
        <div class="llb-blue-container-card-container">
            {% for tutorial in tutorials %}
                {% include "tutorial/_card.html.twig" %}
            {% endfor %}
        </div>
    </div>
</div>
