<nav class="llb-navbar-homePage" style="position:absolute">
    <div class="llb-logo-homePage">
    <a class="navbar-brand" href="/" style="color:#0C5395; font-size:x-large">
    <img class="d-inline-block align-text-top" src={{ asset("build/images/logo.png")}} alt="logo-ligne-bleue" width="60" height="60" style="margin-left:2vw; margin-top:2vw">
    </a>
    </div>
</nav>
