<div class="footer-basic">
    <footer>
        <div id="llb-trait-footer"></div>
        <div class="social"></div>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Accueil</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Mentions légales</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ path('app_contact') }}">Contact</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Cookies</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Données personnelles</a>
            </li>
        </ul>
        <p class="copyright">La Ligne Bleue © 2023</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
