<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="llb-navbar-logo-name">
            <a class="navbar-brand" href="#"><img class="lbb-image-logo" src="{{ asset('build/images/logo_ligne_bleue.png') }}" alt="Logo retour vers Accueil"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <p class="llb-brand-name">La ligne bleue</p>
        </div>

        <div class="llb-navbar-functions">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="llb-navbar-searchBar" role="search">
                    <input class="form-control me-2" type="search" placeholder="Je cherche une formation" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
                <div class="lbb-navbar-buttons-signing">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link llb-navbar-button-registration" aria-current="page" href="#">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link llb-navbar-button-connecting" href="#">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lbb-navbar-button-connected" href="#">Mon espace</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</nav>
