<a class="llb-theme-card mt-3 mb-3" href={{ path("app_theme_show", {"id": theme.id} )}}>
    <img src={{ asset(icone_path ~ theme.iconPath) }} alt="{{ theme.title }}">
    <p>{{theme.title}}</p>
</a>
