{% extends 'base.html.twig' %}

{% block title %}Theme index
{% endblock %}

{% block body %}
    <div class="llb-background-light-blue llb-login-size"></div>
    <div class="llb-theme-index-container">
		<div id="llb-theme-index-title">
			<h1>Index des Thèmes</h1>
			<p>Choisissez une Specialité:</p>
		</div>

		<div class="llb-theme-index-card-container">
			{% for theme in themes %}
				{% include "/theme/_card.html.twig" %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
