{% extends 'base.html.twig' %}

{% block title %}Theme index
{% endblock %}

{% block body %}
    <div class="llb-background-light-blue llb-theme-size"></div>
    <div class="llb-theme-index-container mb-5 mt-4">
		<div id="llb-theme-index-title">
			<h1>Index des Thèmes</h1>
			<p>Choisissez une spécialité :</p>
		</div>

		<div class="llb-theme-index-card-container">
			{% for theme in themes %}
				{% include "/theme/_card.html.twig" %}
			{% endfor %}
		</div>
	</div>
    <div class="d-flex justify-content-center align-items-center">
        <a class="llb-button-yellow mb-5 mt-2 text-decoration-none text-center w-auto align-middle" href="{{ path('cross_page') }}">Cliquez ici pour revenir en arrière</a>
    </div>
{% endblock %}
