<a class="llb-tag-badge d-flex align-items-center mb-0 text-decoration-none" href={{ path("app_search_filterAll", {'filterRaw': "tag_" ~ tag.id} )}}>
	<span class="badge rounded-pill">
		{{tag.title}}
	</span>
</a>
