<div{{attributes}}>
	<div class="dropdown show llb-filter-bar-dropdown">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Tags
		</a>
		
		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			{% for tag in this.tags %}
				<a class="dropdown-item" href={{ path("app_search_addFilter", {"filterRaw": "tag_" ~ tag.id} )}}>{{tag.title}}</a>
			{% endfor %}
		</div>
	</div>
</div>
