{% extends 'base.html.twig' %}

{% block title %}La Ligne Bleue
{% endblock %}

{% block body %}
<div class="llb-blue-container" style="margin-top:3%">
    {% if userTutorials is empty %}
    <h2 style="text-align: center">Vous n'avez pas encore de formation terminée !</h2>
    {% endif %}
{% if userTutorials is not empty %}
    <h2>Formations terminées :</h2>
        <div class="llb-tutoCardIsStarted">
            {% for tuto in utLiked %}
                {% include "tutorial/_card.html.twig" %}
            {% endfor %}
        </div>
    </ul>
{% endif %}
</div>
{% endblock %}
